@import 'components/landingPage.css';
@import 'components/login.css';
@import 'components/register.css';
@import 'components/header.css';
@import 'components/navbar.css';
@import 'components/restaurants.css';
@import 'components/search.css';
@import 'components/restaurantDetails.css';
@import 'components/card/detailCard.css';
@import 'components/userDropdown.css';
@import 'components/editUser/editUserInfo.css';
@import 'components/modalButton.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.form__button {
   @apply border-none bg-[#FEAE67] text-[#FFFFFF] text-[18px] w-full max-w-[200px] py-1 mt-[25px] rounded-[40px] focus:ring-[3px] focus:border-none focus:outline-none;
}

img {
   @apply block max-w-full;
}

body {
   background-color: #fff;
}

.input {
   @apply w-full border-b-[1px] border-[#AFAEAE] mb-6 focus:outline-none;
}

.close {
   position: absolute;
   right: 20px;
   top: 15px;
   width: 20px;
   height: 20px;
   opacity: 0.5;
}

.close:hover {
   opacity: 1;
}
.close:before,
.close:after {
   position: absolute;
   left: 15px;
   content: ' ';
   height: 20px;
   width: 2px;
   background-color: #333;
}
.close:before {
   transform: rotate(45deg);
}
.close:after {
   transform: rotate(-45deg);
}