@layer components {
   .restaurant-image {
      height: 100vh;
      width: 100%;
      background-image: url('../images/pozadina.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
   }
   .restaurant-container {
      @apply flex flex-col justify-center items-center;
      padding: 15px 20px;

      .category-container {
         @apply flex justify-between items-end my-[4rem];

         .category-image {
            @apply flex flex-col items-center mx-10;
            transition: transform 0.25s ease-in-out;
            cursor: pointer;
            height: auto;
            width: 100px;

            & > p {
               @apply mt-4;
               font-size: 1.5rem;
            }

            &:hover {
               transform: scale(1.1);
            }
         }
      }
   }

   .card-container {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-auto-rows: max-content;
      row-gap: 1.5rem;
      column-gap: 1.5rem;

      @media screen and (min-width: 768px) {
         grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media screen and (min-width: 1120px) {
         grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      @media screen and (min-width: 1500px) {
         grid-template-columns: repeat(4, minmax(0, 1fr));
      }
   }

   .restaurant-card {
      @apply cursor-pointer w-[350px] h-[260px] shadow-lg;

      @media screen and (max-width: 568px) {
         width: 280px;
         height: 220px;
      }

      &:hover {
         .restaurant-image {
            transform: scale(1.1);
         }
      }

      &__image {
         overflow: hidden;
         transition: scale 0.3s;
         @apply w-full bg-cover bg-no-repeat
            bg-center opacity-95 relative rounded-t-xl shadow-md;

         .dark {
            background-color: black;
            position: absolute;
            top: 0;
            width: 100%;
            height: 220px;

            @media screen and (max-width: 568px) {
               height: 180px;
            }

            @apply rounded-t-xl;
         }

         .restaurant-image {
            @apply h-[220px] w-full z-20 rounded-t-xl opacity-50;
            transition: transform 0.25s ease-in-out;

            @media screen and (max-width: 568px) {
               height: 180px;
            }
         }

         .restaurant-desc {
            @apply absolute top-0 z-10 w-full h-full text-[#fff];
            @apply flex flex-col justify-center items-center;

            & > h3 {
               @apply text-2xl font-medium mb-2;
            }

            .restaurant-category {
               @apply text-xl bg-gray-900 bg-opacity-40 rounded-xl px-2 py-1 mt-2;
            }
         }

         .restaurant-desc:hover {
            /* tansform: scale(1.1); */
         }
      }

      .estimation-wrapper {
         @apply flex items-start justify-between text-lg px-4 py-2 bg-[#fff];

         .rating {
            @apply flex items-center;

            .like {
               @apply mx-2;
            }
         }

         .estimation {
            @apply flex items-center;

            .moto {
               @apply mx-2;
            }
         }
      }
   }
}
