@layer components {
   .detail__container {
      @apply flex flex-col justify-center items-center;

      .imageContainer {
         @apply min-w-full h-[350px] bg-yellow-500;

         &__left {
            @apply flex flex-col justify-end items-start h-full ml-4;

            h1 {
               @apply text-5xl md:text-3xl font-light mb-2;
            }

            .paragraphContainer {
               @apply flex mb-2;

               .dot {
                  @apply text-xl md:text-lg;
               }

               p {
                  @apply text-2xl md:text-lg font-extralight;
               }
            }
         }
      }

      .content-container {
         width: 100%;
         max-width: 1400px;
         padding-right: 15px;
         padding-left: 15px;
         margin-right: auto;
         margin-left: auto;
         position: relative;
         justify-content: center;

         .filter-wrapper {
            display: flex;
            position: sticky;
            background: #fff;
            width: 100%;
            top: -1px;
            margin-bottom: 20px;
            overflow-x: auto;

            @media screen and (min-width: 1280px) {
               display: block;
               width: auto;
            }

            .filtered-item {
               border: none;

               @media screen and (min-width: 1280px) {
                  border-bottom: 2px solid #e3e3e3;
                  margin-top: 0px;
               }

               &:hover {
                  cursor: pointer;
                  color: red;
               }
            }
         }

         .card-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            margin-bottom: 40px;

            @media screen and (min-width: 756px) {
               grid-template-columns: 320px 320px;
            }

            @media screen and (min-width: 1024px) {
               grid-template-columns: 320px 320px 320px;
            }
         }
      }
   }
}
