@layer components {
   .search-container {
      position: relative;
      width: 450px;
      max-width: 450px;
      transition: padding 0.4s linear, color 0.4s linear;

      .search {
         box-sizing: border-box;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
         @apply w-[100%] h-[45px] py-2 px-12  bg-[#FFEEDE] rounded-[40px] text-xl;

         &:focus-visible,
         &:focus {
            outline: none;
            text-align: start;
         }

         &::placeholder {
            text-align: center;
         }

         &:focus::placeholder {
            color: #ffeede;
         }
      }

      .search-icon {
         position: absolute;
         top: 50%;
         left: 0;
         margin-left: 20px;
         height: 20px;
         width: 20px;
         transform: translateY(-50%);
      }
   }
}
