@layer components {
   .dropdown {
      top: 65px;
      width: 300px;
      padding-top: 0;
      overflow: hidden;
      z-index: 1;
      right:0;

      @media screen and (max-width: 1120px) {
         margin-right: 20px;
      }

      .menu-item {
         height: 50px;
         display: flex;
         align-items: center;
         border-radius: 4px;
         transition: background 0.3s ease-in-out;
         padding: 0.5rem;

         &:hover {
            background-color: #525357;
         }
      }

      .navbar-button {
         @apply bg-[#FEAE67] transition duration-300 ease-in-out hover:bg-[#FFEEDE] hover:py-[4px] hover:border-[#FEAE67] hover:border-[2px] hover:text-[#000];
      }
   }
}
