@layer components {
   .card-container-detail {
      @apply flex flex-col justify-between px-6 pt-6 pb-4 border min-w-0 border-gray-300 text-3xl rounded-md;
      transition: transform 0.25s ease-in-out;

      &:hover {
         cursor: pointer;
         transform: scale(1.03);
      }

      .ellipsis {
         display: inline-block;
         width: 250px;
         white-space: nowrap;
         overflow: hidden !important;
         text-overflow: ellipsis;
      }
   }
}
